.jumbotron
{
    background-color:rgb(229, 255, 0);
    color: black;
}
.footer
{
    background-color: yellow;
    color: black;
    padding: 10px 10px 0 10px;
    margin-bottom: 0%; 
}
.cardhotel
{
    flex: 1 150px;
    padding: 2px;
}